.edit-bar {
  margin-top: -25px;
  padding-bottom: 20px;
}

.dashboardHeader {
  text-align: center;
  height: 45px;
  padding-top: 10px;
  background-color: white;
}

.edit-text {
  padding-left: 8px;
}

.list-group-item-heading {
  margin-top: 0;
  margin-bottom: 0;
}